<div class="container">
  <div class="row">
    <h1><%=@restaurant.name%></h1>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number%></p>
    <h2><%= @restaurant.category%></h2>
  </div>
  <div class="row">
    <%=link_to "add a review", new_restaurant_review_path(@restaurant)%>
  </div>
  <hr>
  <div class="row">
    <h2> Read Reviews</h2>
    <ul>
      <% @reviews.each do |review|%>
      <liexi><%=review.content%>
          <%= review.rating %></li>
      <% end %>
    </ul>
  </div>
</div>
